<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Document</title>

		<!-- LINK ICONE BOOTSTRAP E FONTAWESOME -->
		<link
			rel="stylesheet"
			href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css"
			integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w=="
			crossorigin="anonymous"
			referrerpolicy="no-referrer"
		/>
		<link
			rel="stylesheet"
			href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css"
		/>
		<!-- LINK BOOTSTRAP -->
		<link
			href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css"
			rel="stylesheet"
			integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65"
			crossorigin="anonymous"
		/>
		<!-- LINK AL CSS -->
		<link rel="stylesheet" href="./css/style.css" />

		<!-- VUE JS -->
		<script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>

		<!-- LINK FILE JS BOOTSTRAP-->
		<script
			src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"
			integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4"
			crossorigin="anonymous"
		></script>

		<!-- LINK FILE JS -->
		<script type="text/javascript" src="./js/main.js" defer></script>
	</head>

	<body>
		<div id="app">
			<nav class="navbar bg-light">
				<div class="container">
					<a class="navbar-brand" href="#">
						<img src="./img/logo.png" alt="" height="24" />
					</a>
				</div>
			</nav>
			<div class="container">
				<div class="input-group input-group-lg my-5">
					<input
						v-model="newTask.todo"
						type="text"
						class="form-control"
						placeholder="New task"
						aria-label="New task"
						aria-describedby="button-addon2"
					/>
					<select
						class="form-select"
						aria-label="Default select example"
						width="10"
					>
						<option selected>Seleziona una opzione</option>
						<option value="1">COMPLETATO</option>
						<option value="2">DA COMPLETARE</option>
					</select>
					<button
						@click="addTask()"
						class="btn btn-outline-primary"
						type="button"
						id="button-addon2"
					>
						Inserisci
					</button>
				</div>
				<h1>Lista</h1>
				<ol class="list-group list-group-numbered">
					<li
						v-for="(task, index) in tasks"
						class="list-group-item d-flex align-items-center"
					>
						&#8291; {{ task.todo }}
						<span
							v-if="task.done"
							class="badge rounded-pill bg-success ms-auto mx-2"
						>
							COMPLETATO
						</span>
						<span v-else class="badge rounded-pill bg-danger ms-auto mx-2">
							DA COMPLETARE
						</span>
						<span
							@click="removeTask(index)"
							class="badge bg-primary rounded-pill"
						>
							<i class="fa-solid fa-xmark"></i>
						</span>
					</li>
				</ol>
			</div>
		</div>
	</body>
</html>
